.carousel-container {
  position: relative;
  padding: 0 32px;

  .swiper-slide {
    padding: 44px 12px;
  }
}

.swiper-button-prev-custom,
.swiper-button-next-custom,
.swiper-button-prev-custom-games,
.swiper-button-next-custom-games {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  font-size: 24px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.swiper-button-prev-custom,
.swiper-button-prev-custom-games {
  left: 0;
}

.swiper-button-next-custom,
.swiper-button-next-custom-games {
  right: 0;
}
